@import url('./css/footer.css');
@import url('./css/produit.css');
@import url('./css/categorie.css');
@import url('./css/header.css');
@import url('./css/achats.css');


*{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}
:root{
    --constracte:#7F8E76;
    --social-icon:#9EA898;
    --container: 1220px;
}
body{
     font-family: 'Montserrat',serif;
     overflow-x: hidden;
}
a{
    text-decoration: none;
}
.container  {
    padding-inline: 16px;
    margin-inline:auto;
    width: 100%;
    display: block;
    max-width: 1100px;
}
.container-lg{
      padding-inline: 16px;
    margin-inline:auto;
    width: 100%;
    display: block;
    max-width: 1320px;
}