
.navbar{

  
   
    .navbar-top{
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .navbar-input-img{
        display: none;
    }
   .open-input{
    .navbar-bar{
        display: none;
    }
    .navbar-logo{
        display: none;
    }
   .navbar-seacher{
    top: 5px;
    right: 0px;
   
    border: none;
    position: absolute;
   }
    .navbar-input {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 1000px;

    .navbar-input-img{
        display: block;
        font-size: .8125rem;
        border: 1px solid #7F8E76;
        border-radius: 60px;
       
        width: 100%;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 20px;
        color: #6B6B6B;
        line-height: 1.538rem;
    }
   }
   }
    .navbar-top{
        display: flex;
        justify-content: space-between;
        gap:0 10px;
    }
    .navbar-bar  , .navbar-seacher{
       border: 1px solid;
       width: 44px;
       height: 44px;
       display: flex;
       cursor: pointer;
       align-items: center;
       justify-content: center;
       border-radius: 50px;     
       border-color: #E7E7E7;
    }

    .navbar-bottom-butom{
        display: none;
    }
    .open-menu{
        .navbar-bottom-butom{
            position: absolute;
            display: block;
            z-index: 10;
          
            top:  640px;
        }
        .navbar-bar, .navbar-logo{
            position: relative;
            z-index: 10;
        }
        .navbar-bottom{
            display: block;
        }
        
        .navbar-items:last-child{
            margin-bottom: 0;
        }
        .navbar-bottom-butom{
            margin-top: 24px;
        }
        
        .navbar-bottoms{
            padding: 68px 0;
            background: white;
            width: 336px;
            height: 844px;
            position: absolute;
            top: 0;
            left: 0;
            box-shadow: 0 1px 2px black;
            padding-left: 30px;
            padding-right: 100px;
            z-index: 5;
            border-radius: 0 20px 20px 0;
        }

    .navbar-bottoms::before{
        content: '';
        width: 300px;
        height: 1px;
        margin: 24px 0;
        display: block;
        background: #ECECEC;
    }
    

    }
  
    .navbar-items{
        display: block;
        margin-bottom: 1.75rem;
        font-weight: normal;
        font-size: 1rem;
        color: #363636;

        line-height: 1.5;


    }
  
   
  
  
    
    .navbar-bottom-Vendez{
        border:1px solid var(--constracte);
        padding: 12px 36px;
        cursor: pointer;
        border-radius:  32px;
        text-wrap: nowrap;
        transition: .8s;
        font-size: 1rem;
        line-height: 1.75;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            
            color: var(--constracte);
        }
    }
   
    .navbar-bottom-Vendez:hover, .navbar-bottom-connecter:hover{
        background: var(--constracte);
        a{
            color: white;
        }
    }
    .navbar-bottom-connecter{
        margin-top: 20px;
        border:1px solid var(--constracte);
        padding: 12px 36px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        transition: .8s;
        align-items: center;
        border-radius:  32px;
        a{
            color: #545454;
            font-size: 1rem;
            text-wrap: nowrap;
            line-height: 1.75;
            font-weight: 600;
        }

    }

    .navbar-bottom{
        display: none;
    }
}

@media only screen and  (min-width:950Px) {
    .navbar-input{
        position: relative;
    }
  .navbar{
        .navbar-top{
            position: relative;
            align-items: center;
        }
        
        .navbar-bottom-line{
            display: flex;
            align-items: center;
            gap: 0 10px;
            justify-content: space-between;            
        }
        .navbar-bottom{
            display: block;
        }
        .navbar-bar{
            display: none;
        }
         .navbar-input{
            width: 606px;
            display: block;
        }
        .navbar-top{
            padding-bottom: 0;
        }
        .navbar-bottoms::before{
            content: '';
            width: 100%;
            height: 1px;
            margin: 24px 0;
            display: block;
            background: #ECECEC;
    }
        .navbar-items{
            margin-bottom: 1.75rem;
            font-weight: normal;
            font-size: 1rem;
            color: #363636;
            line-height: 1.5;

    }
     .navbar-seacher{
       border: 1px solid;
       width: 50px;
       height: 50px;
       display: flex;
       cursor: pointer;
       align-items: center;
       justify-content: center;
       border-radius: 50px;     
       border-color: #E7E7E7;
    }
  .navbar-input{
     
        .navbar-input-img{
                background-color: #FCFCFC;
                height: 64px;
                border-color: #E0E0E0;
                width: 100%;
                font-size: 1rem;
                display: block;
                padding: 16px 32px;
                border-radius: 60px;
                color: #6B6B6B;
                line-height: 1.0625;
            }
            

  }

  .navbar-seacher{
        position: absolute;
        top: 7px;
        bottom: 7px;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-color: #EEEEEE;
        right: 7px;
  }
  .navbar-bottom-butom{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 10px;
  }
   .navbar-bottom-connecter{
        margin-top: 0px;
        padding-left: 20px;
        padding-right: 20px;        
   }
   .navbar-bottom-Vendez{
        padding: 12px 20px;
        
    }
  }

  
}

    @keyframes identifier {
        0%{
            opacity: 0;
           
            width: 10px;
        }
        100%{
            opacity: 1;
             width: 209px;
        }
    }
